@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/ProductList/index.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/jQuery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/Content/layui/layui.js"></script>
</head>

<body>
    <div id="list">
        <div class="layui-inline">
            <button onclick="btnAct('add')" type="button" class="layui-btn">Add Product</button>
        </div>

        <div class="layui-inline">
            <button onclick="SearchUser()" type="button" class="layui-btn">My Account</button>
        </div>

        <div class="layui-block" style="padding: 15px 0;">
            <div class="layui-inline">
                <input class="layui-input" name="condition" id="searchCondition" autocomplete="off" />
            </div>
            <button onclick="search()" type="button" class="layui-btn">Search</button>
            
            <!--显示数据的table-->
            <table class="layui-hide" id="demo"></table>
        </div>

        <script type="text/html" id="btn">
            <button onclick="btnAct('edit', {{d.ID}})" type="button" class="layui-btn">Edit</button>
            <button onclick="btnAct('del', {{d.ID}})" type="button" class="layui-btn" layui-btn-danger>Delete</button>
        </script>
        <script src="~/Content/ProductList/index.js"></script>
    </div>
</body>
</html>